* {
    margin: 0;
}

.top-nav {
    background-color: black;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

    .top-nav p {
        color: white;
        font-weight: bold;
        font-size: 18px;
        margin-top: 25px;
        margin-left: 30px;
        font-family: 'Press Start 2P', cursive;
        float: left;
    }

    .top-nav #HyperLink2 {
        float: right;
        padding: 25px 16px;
        font-size: 18px;
        color: white;
        height: 100%;
        text-align: center;
        font-family: 'Source Sans Pro', cursive;
        overflow: hidden;
    }

        .top-nav #HyperLink2:hover {
            background-color: grey;
        }

.login-container {
    padding-top: 200px;
}

    .login-container .container-1 {
        padding-left: 150px;
    }

    .login-container .container-2 {
        margin-right: 280px;
    }

    .login-container .container-1 .logo-container {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 20px;
        padding-top: 22px;
    }

.login-container, .container-1 label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

    .login-container .container-1 input[type="text"] {
        margin-bottom: 15px;
        width: 180px;
        height: 25px;
        outline: none;
    }

    .login-container .container-1 input[type="password"] {
        margin-bottom: 15px;
        width: 180px;
        height: 25px;
        outline: none;
    }

    .login-container .container-1 #button {
        width: 100px;
        height: 30px;
        font-size: 16px;
        background-color: black;
        color: white;
        border: none;
        outline: none;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 5px;
        margin-bottom: 10px;
    }

        .login-container .container-1 #button:hover {
            background-color: grey;
        }

    .login-container .container-1 #HyperLink1 {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
    }

        .login-container .container-1 #HyperLink1:hover {
            text-decoration: underline;
        }

    .login-container .container-2 .image-container img {
        height: 350px;
    }

    .login-container .container-2 .image-container p {
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        font-size: 28px;
    }

.container-1 {
    float: left;
    width: fit-content;
}

.container-2 {
    float: right;
    width: fit-content;
    overflow: hidden;
}
